GridBackground
{
	--grid-background-color: var(--ds-colors-grid-light-grey-1);
	--line-color: var(--ds-colors-grid-light-grey-2);
	--think-line-color: var(--ds-colors-grid-light-grey-3);
	--spacing: 25px;
}